<template>
  <div class="form ${inline ? 'form--inline' : ''}" re-error-class.bind="isError" re-success-class.bind="isSuccess" data-error="form" data-success="form">
    <div class="form__input">
      <input
        type="${type}"
        name="${name}"
        placeholder="${placeholder}"
        value.bind="value"
        re-form-maxlength="${maxlength}"
        re-form-disabled="${disabled}" re-form-readonly="${readonly}"
        blur.trigger="handleBlur($event)"
        keyup.delegate="handleKeyup($event)"
        />
      <label if.bind="label.length" class="form__label">${label}</label>
      <div class="form__line"></div>
    </div>
    <a if.bind="actionHref" href="${actionHref}" class="form__action">${actionLabel}</a>
    <label if.bind="hint.length" class="form__hint">${hint}</label>
  </div>
</template>