<template>
  <div class="form ${inline ? 'form--inline' : ''}">
    <div class="form__range">
      <button class="btn btn--transparent" click.delegate="decrementValue()">
        <i class="form__range-icon wfm-left-chevron"></i>
      </button>
      <input
        type="range"
        id="${id}"
        name="${name}"
        placeholder="${placeholder}"
        value.bind="value"
        re-form-disabled="${disabled}" re-form-readonly="${readonly}"
        re-form-min="${min}" re-form-max="${max}" re-form-step="${step}"
        />
      <button class="btn btn--transparent" click.delegate="incrementValue()">
        <i class="form__range-icon wfm-right-chevron"></i>
      </button>
    </div>
    <div class="form__range-value">${value} / ${max}${suffix}</div>
    <label if.bind="hint.length" class="form__hint">${hint}</label>
  </div>
</template>