<template>
  <div class="form ${inline ? 'form--inline' : ''}">
    <div class="form__radio">
      <label for="" class="form__label" if.bind="label.length">${label}</label>
      <label class="form__option" repeat.for="option of options">
        <input type="radio"
          name="${name}" model.bind="option" checked.bind="value"
          re-form-disabled="${disabled}" re-form-readonly="${readonly}">
        <i class="form__option__icon"></i>
        ${option.label || option}
      </label>
    </div>
    <label class="form__hint" if.bind="hint.length">${hint}</label>
  </div>
</template>